html, body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 0.3px;
}

a {
    text-decoration: none;
}
.left .bg-img {
  background: url('img/attendance_system.jpg') center center no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 400px) {
    .left-inner,
    .right-inner {
      padding: 40px;
    }
}

.left,
.right {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.left {
    color: #0e0101;
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    overflow: hidden;
    position: fixed;
}

.left .info {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    flex: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #0d0101;
    width: 90%;
    margin: 0 auto;
    margin-top: 40%;
}

.left .social-links {
    margin-top: 30px;
}

.left .fa {
    margin: 10px;
    font-size: 24px;
}

@media screen and (max-width: 1000px) {
    .left, .right {
      display: block;
      width: 100%;
    }
    .left {
      position: static;
    }
}

.right {
    float: right;
    margin-top: 50px   ;
}
  
.right a {
    color: #000;
}
.right h4,
.right .content {
  display: inline-block;
  vertical-align: top;
}

.right h4 {
  width: 20%;
  margin: 0 0 20px;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #2A54F5;
  background-image: -webkit-linear-gradient(45deg,#2A54F5 0%,#33E5BB 100%);
  background-image: linear-gradient(45deg,#2A54F5 0%,#33E5BB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.right .content {
  width: 70%;
  padding: 0;
  margin: 0 0 50px;
  font-weight: 300;
  line-height: 1.5;
}


@media screen and (max-width: 600px) {
  .right h4,
  .right .content {
    display: block;
    vertical-align: top;
    width: 100%;
  }
}

.right .skills .skill-category:first-of-type {
  margin-top: 0;
}

.right .skills .skill-category {
  margin-bottom: 10px;
}

.right .skills .skill-category:last-of-type {
  margin-bottom: 0px;
}

.right .skills .skill-category > strong {
  text-transform: uppercase;
  font-size: 14px;
}

.right .education {
    font-size: 16px;
}

.right .education .university {
    font-weight: 700;
    font-size: 16px;
}
  
.right .education .college {
    font-weight: 700;
    margin-bottom: 15px;
}
  
.right .education .major,
.right .education .minor,
.right .education .conc {
    font-size: 16px;
}
  
.right .education .major > strong,
.right .education .minor > strong,
.right .education .conc > strong {
    font-weight: 500;
}

.right .projects .project-item {
    margin-bottom: 20px;
}
  
.right .projects .project-title {
    font-weight: 700;
}
  
.right .projects .project-desc
.right .projects .project-img {
    font-size: 15px;
    margin: 0 0 10px;
}

.project-img {
    width: 400px;
    margin-bottom: 30px;
}